@font-face {
  font-family: "Avenir Next";
  src: url(../../Assets/Fonts/AvenirNextLTPro-Regular.otf) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../Assets/Fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../Assets/Fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
:root {
  font-size: 16px;
  color: #323232;
  word-spacing: 1px;
  font-family: "Avenir Next";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.website-logo {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  max-width: 120px;
  max-height: 20px;
}
.website-logo--top {
  margin: auto;
  padding: 16px;
}
@media (min-width: 768px) {
  .website-logo--top {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1280px) {
  .website-logo--top {
    padding: 0;
  }
}
.website-logo--bottom {
  padding: 48px 16px 16px 0;
}
@media (min-width: 768px) {
  .website-logo--bottom {
    position: absolute;
    padding: 0;
    top: 60px;
    right: 36px;
    width: 100%;
    height: 100%;
  }
}
.header {
  background-color: #323232;
}

.nav-bar {
  max-width: 1154px;
  margin: auto;
}
.nav-bar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
@media (min-width: 768px) {
  .nav-bar__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.nav-bar__link {
  color: #e1e1e1;
  display: inline-block;
  width: 100%;
  text-align: center;
  border-bottom: 5px solid transparent;
  padding-bottom: 8px;
}
@media (min-width: 768px) {
  .nav-bar__link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 28px 0 18px 0;
    margin: 0 48px;
    border-width: 4px;
  }
}
.nav-bar__link-text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
.nav-bar__link:active {
  color: #ffffff;
  border-color: #ffffff;
}
.nav-bar__link:hover {
  color: #ffffff;
  border-color: #ffffff;
}
@media (min-width: 768px) {
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 24px;
  }
}
@media (min-width: 1280px) {
  .nav-bar {
    padding: 0;
  }
}

.hero {
  background-image: url("/Assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  height: 16.5vh;
}
.hero__overlay {
  background-color: rgba(50, 50, 50, 0.5019607843);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  color: #ffffff;
}
.hero__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-weight: 600;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 60px;
    line-height: 68px;
  }
}
.hero__container {
  max-width: 1154px;
  margin: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .hero {
    height: 42vh;
  }
}

.about-section {
  background-color: #ffffff;
  padding: 24px 16px 0 16px;
  max-width: 1154px;
  margin: auto;
}
@media (min-width: 768px) {
  .about-section {
    padding: 48px 36px 36px 36px;
  }
}
.about-section__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about-section__title {
    font-size: 36px;
    line-height: 44px;
  }
}
.about-section__img {
  padding: 8px 0 16px 0;
  height: 16.5vh;
  display: block;
}
@media (min-width: 768px) {
  .about-section__img {
    height: 32.5vh;
    padding: 16px 56px 0 56px;
  }
}
.about-section__quote {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .about-section__quote {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 768px) {
  .about-section__quote {
    padding: 36px 56px 16px 56px;
  }
}
@media (min-width: 1280px) {
  .about-section__quote {
    max-width: 78%;
  }
}
.about-section__quote-author {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding: 0 0 24px 0;
}
@media (min-width: 768px) {
  .about-section__quote-author {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 768px) {
  .about-section__quote-author {
    font-size: 18px;
    line-height: normal;
    padding: 0 56px 48px 56px;
  }
}
.about-section__subheader {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding-bottom: 16px;
  color: #000000;
}
@media (min-width: 768px) {
  .about-section__subheader {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 768px) {
  .about-section__subheader {
    padding: 0 56px 48px 56px;
  }
}
.about-section__text {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .about-section__text {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (min-width: 768px) {
  .about-section__text {
    padding: 0 56px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}

.photo-gallery {
  background-color: #fafafa;
}
.photo-gallery__wrapper {
  padding: 24px 16px 0 16px;
  max-width: 1154px;
  margin: auto;
}
@media (min-width: 768px) {
  .photo-gallery__wrapper {
    padding: 48px 36px 16px 36px;
  }
}
@media (min-width: 768px) {
  .photo-gallery__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.photo-gallery__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .photo-gallery__title {
    font-size: 36px;
    line-height: 44px;
  }
}
@media (min-width: 768px) {
  .photo-gallery__title {
    font-weight: 600;
    padding-bottom: 24px;
  }
}
.photo-gallery__img {
  padding-bottom: 16px;
  display: block;
}
@media (min-width: 768px) {
  .photo-gallery__img {
    width: calc(33.33% - 16px);
    padding-bottom: 24px;
  }
}

.footer {
  background-color: #323232;
}
@media (min-width: 768px) {
  .footer__all-contacts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__all-contacts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.footer__wrapper {
  color: #ffffff;
  padding: 24px 16px 16px 16px;
  max-width: 1154px;
  margin: auto;
  position: relative;
}
@media (min-width: 768px) {
  .footer__wrapper {
    padding: 48px 36px 36px 36px;
  }
}
@media (min-width: 768px) {
  .footer__top-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 36px;
  }
}
.footer__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 36px;
    line-height: 44px;
  }
}
@media (min-width: 768px) {
  .footer__title {
    display: inline-block;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .footer__contact-wrapper {
    padding-right: 56px;
  }
}
.footer__contact-name {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .footer__contact-name {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 768px) {
  .footer__contact-name {
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 24px;
  }
}
.footer__text {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .footer__text {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .footer__text {
    padding-bottom: 24px;
  }
}
.footer__copyright {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-size: 11px;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .footer__copyright {
    padding-top: 24px;
  }
}
.footer__icon {
  height: 24px;
  width: 27px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .footer__icon-wrapper {
    display: inline-block;
    padding-left: 36px;
  }
}
.footer__icon--instagram {
  margin-right: 8px;
}
.footer__icon--facebook {
  margin-right: 16px;
  margin-left: 16px;
}
.footer__icon--twitter {
  margin-left: 8px;
}