@font-face {
  font-family: "Avenir Next";
  src: url(../../Assets/Fonts/AvenirNextLTPro-Regular.otf) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../Assets/Fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../Assets/Fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
:root {
  font-size: 1rem;
  color: #323232;
  word-spacing: 0.0625rem;
  font-family: "Avenir Next";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.website-logo {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  max-width: 7.5rem;
  max-height: 1.25rem;
}
.website-logo--top {
  margin: auto;
  padding: 1rem;
}
@media (min-width: 48rem) {
  .website-logo--top {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 80rem) {
  .website-logo--top {
    padding: 0;
  }
}
.website-logo--bottom {
  padding: 3rem 1rem 1rem 0;
}
@media (min-width: 48rem) {
  .website-logo--bottom {
    position: absolute;
    padding: 0;
    top: 3.75rem;
    right: 2.25rem;
    width: 100%;
    height: 100%;
  }
}
.header {
  background-color: #323232;
}

.nav-bar {
  max-width: 72.125rem;
  margin: auto;
}
.nav-bar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
@media (min-width: 48rem) {
  .nav-bar__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.nav-bar__link {
  color: #e1e1e1;
  display: inline-block;
  width: 100%;
  text-align: center;
  border-bottom: 0.3125rem solid transparent;
  padding-bottom: 0.5rem;
}
@media (min-width: 48rem) {
  .nav-bar__link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1.75rem 0 1.125rem 0;
    margin: 0 3rem;
    border-width: 0.25rem;
  }
}
.nav-bar__link-text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
.nav-bar__link:active {
  color: #ffffff;
  border-color: #ffffff;
}
.nav-bar__link:hover {
  color: #ffffff;
  border-color: #ffffff;
}
@media (min-width: 48rem) {
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1.5rem;
  }
}
@media (min-width: 80rem) {
  .nav-bar {
    padding: 0;
  }
}

.hero {
  background-image: url("/Assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  height: 16.5vh;
}
.hero__overlay {
  background-color: rgba(50, 50, 50, 0.5019607843);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  color: #ffffff;
}
@media (min-width: 48rem) {
  .hero__overlay {
    padding-left: 2.25rem;
  }
}
@media (min-width: 80rem) {
  .hero__overlay {
    padding: 0;
  }
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
.hero__container {
  max-width: 72.125rem;
  margin: auto;
  width: 100%;
}
@media (min-width: 48rem) {
  .hero {
    height: 42vh;
  }
}

.about-section {
  background-color: #ffffff;
  padding: 1.5rem 1rem 0 1rem;
  max-width: 72.125rem;
  margin: auto;
}
@media (min-width: 48rem) {
  .about-section {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media (min-width: 80rem) {
  .about-section {
    padding-right: 0;
    padding-left: 0;
  }
}
.about-section__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .about-section__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.about-section__img {
  padding: 0.5rem 0 1rem 0;
  height: 16.5vh;
  display: block;
}
@media (min-width: 48rem) {
  .about-section__img {
    height: 32.5vh;
    padding: 1.5rem 3.5rem 0 3.5rem;
  }
}
.about-section__quote {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .about-section__quote {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 48rem) {
  .about-section__quote {
    padding: 2.25rem 3.5rem 1rem 3.5rem;
  }
}
@media (min-width: 80rem) {
  .about-section__quote {
    max-width: 78%;
  }
}
.about-section__quote-author {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding: 0 0 1.5rem 0;
}
@media (min-width: 48rem) {
  .about-section__quote-author {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 48rem) {
  .about-section__quote-author {
    font-size: 1.125rem;
    line-height: normal;
    padding: 0 3.5rem 3rem 3.5rem;
  }
}
.about-section__subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-bottom: 1rem;
  color: #000000;
}
@media (min-width: 48rem) {
  .about-section__subheader {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 48rem) {
  .about-section__subheader {
    padding: 0 3.5rem 3rem 3.5rem;
  }
}
.about-section__text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
  width: 100%;
}
@media (min-width: 48rem) {
  .about-section__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 48rem) {
  .about-section__text {
    padding: 0 3.5rem;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}
@media (min-width: 80rem) {
  .about-section__text {
    padding: 0 3.5rem;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}

.photo-gallery {
  background-color: #fafafa;
}
.photo-gallery__wrapper {
  padding: 1.5rem 1rem 0 1rem;
  max-width: 72.125rem;
  margin: auto;
}
@media (min-width: 48rem) {
  .photo-gallery__wrapper {
    padding: 3rem 2.25rem 1rem 2.25rem;
  }
}
@media (min-width: 80rem) {
  .photo-gallery__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 48rem) {
  .photo-gallery__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.photo-gallery__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .photo-gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 48rem) {
  .photo-gallery__title {
    padding-bottom: 1.5rem;
  }
}
.photo-gallery__img {
  padding-bottom: 1rem;
  display: block;
}
@media (min-width: 48rem) {
  .photo-gallery__img {
    width: calc(33.33% - 1rem);
    padding-bottom: 1.5rem;
  }
}

.footer {
  background-color: #323232;
}
@media (min-width: 48rem) {
  .footer__all-contacts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 80rem) {
  .footer__all-contacts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.footer__wrapper {
  color: #ffffff;
  padding: 1.5rem 1rem 1rem 1rem;
  max-width: 72.125rem;
  margin: auto;
  position: relative;
}
@media (min-width: 48rem) {
  .footer__wrapper {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media (min-width: 80rem) {
  .footer__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 48rem) {
  .footer__top-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 2.25rem;
  }
}
.footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 48rem) {
  .footer__title {
    display: inline-block;
    font-weight: 600;
  }
}
@media (min-width: 80rem) {
  .footer__contact-wrapper {
    padding-right: 3.5rem;
  }
}
.footer__contact-name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .footer__contact-name {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 48rem) {
  .footer__contact-name {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-bottom: 1.5rem;
  }
}
.footer__text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .footer__text {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media (min-width: 48rem) {
  .footer__text {
    padding-bottom: 1.5rem;
  }
}
.footer__copyright {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-size: 0.6875rem;
}
@media (min-width: 48rem) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media (min-width: 48rem) {
  .footer__copyright {
    padding-top: 1.5rem;
  }
}
.footer__icon {
  height: 1.5rem;
  width: 1.6875rem;
  margin-bottom: 1rem;
}
@media (min-width: 48rem) {
  .footer__icon-wrapper {
    display: inline-block;
    padding-left: 2.25rem;
  }
}
.footer__icon--instagram {
  margin-right: 0.5rem;
}
.footer__icon--facebook {
  margin-right: 1rem;
  margin-left: 1rem;
}
.footer__icon--twitter {
  margin-left: 0.5rem;
}