$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
$page-margin: 63px;

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
@mixin container-desktop {
  max-width: $breakpoint-desktop - $page-margin * 2;
  margin: auto;
}
