@use "./breakpoints" as *;
@use "./colors" as *;
@use "./fonts" as *;


.footer {
  background-color: $bandSite-black;

  &__all-contacts-wrapper {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
    @include desktop {
      display: flex;
      justify-content: flex-start;
    }
  }

  &__wrapper {
    color: $white;
    padding: 1.5rem 1rem 1rem 1rem;
    @include container-desktop;
    position: relative;

    @include tablet {
      padding: 3rem 2.25rem 2.25rem 2.25rem;
    }
    @include desktop {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__top-nav {
    @include tablet {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 2.25rem;
    }
  }

  &__title {
    @include section-header;
    padding-bottom: 1rem;
    font-weight: $font-weight-demi;

    @include tablet {
      display: inline-block;
      font-weight: 600;
    }
  }
  &__contact {
    &-wrapper {
      @include desktop {
        padding-right: 3.5rem;
      }
    }

    &-name {
      @include subheader;
      padding-bottom: 1rem;

      @include tablet {
        font-size: 0.875rem;
        line-height: 1.375rem;
        padding-bottom: 1.5rem;
      }
    }
  }

  &__text {
    @include footer-copy;
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 1.5rem;
    }
  }

  &__copyright {
    @include footer-copy;
    font-size: 0.6875rem;

    @include tablet {
      padding-top: 1.5rem;
    }
  }

  &__icon {
    height: 1.5rem;
    width: 1.6875rem;
    margin-bottom: 1rem;

    &-wrapper {
      @include tablet {
        display: inline-block;
        padding-left: 2.25rem;
      }
    }

    &--instagram {
      margin-right: 0.5rem;
    }

    &--facebook {
      margin-right: 1rem;
      margin-left: 1rem;
    }

    &--twitter {
      margin-left: 0.5rem;
    }
  }
}
