@use "./partials/breakpoints" as *;
@use "./partials/font" as *;
@use "./partials/colors" as *;

@mixin padding-bottom-16 {
  padding-bottom: 16px;
}

:root {
  @include root-font;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.website-logo {
  box-sizing: content-box;
  max-width: 120px;
  max-height: 20px;

  &--top {
    margin: auto;
    padding: 16px;

    @include desktop {
      padding: 0;
    }
  }

  &--bottom {
    padding: 48px 16px 16px 0;
  }
}

.header {
  background-color: $bandSite-black;
}

.nav-bar {
  &__container {
    display: flex;
    justify-content: space-around;
    width: 100%;

    @include tablet {
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__link {
    color: $mercury;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-bottom: 5px solid transparent;
    padding-bottom: 8px;

    @include tablet {
      width: fit-content;
      padding: 28px 0 18px 0;
      margin: 0 48px;
      border-width: 4px;
    }

    &-text {
      font-size: 14px;
      line-height: 22px;
      font-weight: $font-weight-demi;
    }

    &:active {
      color: $white;
      border-color: $white;
    }
    &:hover {
      color: $white;
      border-color: $white;
    }
  }

  @include tablet {
    display: flex;
    align-items: center;
    padding: 0 24px;
  }
  @include desktop {
    padding: 0;
  }
  @include container-desktop;
}

.hero {
  background-image: url("/Assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  height: 16.5vh;

  &__overlay {
    background-color: #32323280;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    color: $white;
  }
  &__title {
    @include page-header;
  }

  &__container {
    @include container-desktop;
    width: 100%;
  }

  @include tablet {
    height: 40vh;
  }
}

.about-section {
  background-color: $white;
  padding: 24px 16px 0 16px;
  @include container-desktop;

  &__title {
    @include section-header;
    padding-bottom: 8px;
  }

  &__img {
    @include padding-bottom-16;
    height: 16.5vh;

    @include tablet {
      height: 30vh;
      padding: 16px 56px 24px 56px;
    }
  }

  &__quote {
    @include subheader;
    @include padding-bottom-16;

    &-author {
      @include subheader;
      @include padding-bottom-16;

      @include tablet {
        @include subheader;
        font-size: 20px;
      }
    }
  }

  &__subheader {
    @include subheader;
    padding: 8px 16px 16px 0;
    color: $bandSite-darkBlack;
  }

  &__text {
    @include body-copy;
    @include padding-bottom-16;

    @include tablet {
      padding: 48px 36px 0 36px;
    }
  }
}

.photo-gallery {
  background-color: $alabaster;

  &__wrapper {
    padding: 24px 16px 0 16px;
    @include container-desktop;
  }
  &__title {
    @include section-header;
    @include padding-bottom-16;
  }

  &__img {
    @include padding-bottom-16;
    display: block;
  }
}

.footer {
  background-color: $bandSite-black;
  &__wrapper {
    color: $white;
    padding: 24px 16px 16px 16px;
    @include container-desktop;
  }

  &__title {
    @include section-header;
    @include padding-bottom-16;
  }

  &__contact-name {
    @include subheader;
    @include padding-bottom-16;
  }

  &__text {
    @include footer-copy;
    @include padding-bottom-16;
  }

  &__copyright {
    @include footer-copy;
    font-size: 11px;
  }

  &__icon {
    height: 24px;
    width: 27px;
    margin-bottom: 16px;

    &--instagram {
      margin-right: 8px;
    }

    &--facebook {
      margin-right: 16px;
      margin-left: 16px;
    }

    &--twitter {
      margin-left: 8px;
    }
  }
}
